@using ImageGallery.Html_helpers
@model ImageGallery.Models.ImageHomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Carousel")

@Html.Partial("List",Model)

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index",
        new { page = x }))
</div>